# ---> AL
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

# Node
node_modules/
dist/
.env
.env.*
!.env.example
.pnpm-store/
.next/
out/
build/
coverage/
